#topoPagina > .ui-widget-content {
    background-image:url('#{request.contextPath}/resources/img/ShirtCents3.png');
    background-repeat: no-repeat;
    background-size: 100% 100%;
    -webkit-background-size: 100% 100%;
    -o-background-size: 100% 100%;
    -khtml-background-size: 100% 100%;
    -moz-background-size: 100% 100%;
}

#dialogLogin {
    top: 0% !important;
    left: 75% !important;
}

#buttonLogin {
    float: right;
}

#megaMenu {
    
}
