<?xml version="1.0" encoding="UTF-8"?>
<persistence version="2.1" xmlns="http://xmlns.jcp.org/xml/ns/persistence" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/persistence http://xmlns.jcp.org/xml/ns/persistence/persistence_2_1.xsd">
  <persistence-unit name="ShirtCentsPU" transaction-type="RESOURCE_LOCAL">
    <provider>org.eclipse.persistence.jpa.PersistenceProvider</provider>
    <class>entidades.Pedido</class>
    <class>entidades.Formapagamento</class>
    <class>entidades.Usuario</class>
    <class>entidades.Cliente</class>
    <class>entidades.Produto</class>
    <class>entidades.Categoria</class>
    <class>entidades.Endereco</class>
    <class>entidades.Itens</class>
    <exclude-unlisted-classes>false</exclude-unlisted-classes>
    <properties>
      <property name="javax.persistence.jdbc.url" value="jdbc:derby://localhost:1527/shirtCents"/>
      <property name="javax.persistence.jdbc.user" value="shirt"/>
      <property name="javax.persistence.jdbc.driver" value="org.apache.derby.jdbc.ClientDriver"/>
      <property name="javax.persistence.jdbc.password" value="cents"/>
    </properties>
  </persistence-unit>
</persistence>
